body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.contenedor-progreso {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ddd;
}

.barra-progreso {
    height: 5px;
    background: #007bff;
    width: 0;
    animation: scroll-progress linear;
    animation-timeline: scroll();
}

@keyframes scroll-progress {
    from { width: 0%;}
    to { width: 100%;}
}